// Font Family
$font_body: 'Lato', sans-serif;
$font_heading: 'Nunito', sans-serif;

// Default Color
$color_primary: #084466;
$color_danger: #cca162;
$color_warning: #CCA162;
$color_light: #e3f3fd;
$color_dark: #0E081E;
$color_body: #1C103B;
$color_muted: #675D6B;
$color_border: #e3f3fd;

// Default Border Radius
$border_radius: 8px;

// Default Transition
$transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);